/* body */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background: #E3D888;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    margin-top: 60px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    margin: 40px auto 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    flex-grow: 1;
}

.input-area {
    display: flex;
    gap: 10px;  
}

#taskInput {
    flex: 1;
    padding: 5px;
}

#addBtn {
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    background: #eee;
    border-radius: 5px;
}
.done {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}

footer {
    text-align:center;
    padding: 15px 0;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;


}